<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SEARCH KEYWORD</title>
</head>
<body>
    <h1>CLOVA Summary API 1회 호출 시 사용할 수 있는 최대 글자수는 2,000자 입니다. 2,000자 초과분은 실패처리됩니다.</h1>
    <br><a href=<%=url%> target='_blank'>Original URL</a></br>
    <br></br>
    <form action='/' method='GET'>
        <input type='submit' value="재검색">
    </form>
</body>
</html>