<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SEARCH KEYWORD</title>
</head>
<body>
    <h1>제목 : <%=title%></h1>
    요약 : <%=summary%>
    
    <br></br><br><a href=<%=url%> target='_blank'>Original URL</a></br>
    <br></br>
    <form action='/' method='GET'>
        <input type='submit' value="재검색">
    </form>
</body>
</html>